* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #fcfcfc;
}

.rgstr-frm-cnt {
    width: 100%;
    margin: 0 auto;
}

.c4f-lgn-icn {
    text-align: center
}

.c4f-lgn-txt {
    padding: 20px 0;
}

.rgstr-frm-lnk {
    display: flex;
}

.rgstr-frm-lnk-txt {
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0;
    text-decoration: none;
    color: #1F4295;
    width: 50%;
    text-align: center;
}

.rgstr-frm-lnk-txt.selected {
    color: #F00;
    border-bottom: 2px solid #1F4295;
}

@media (min-width: 540px) {
    .rgstr-frm-cnt {
        width: 25%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-200%, 50%);
    }
}

